//landing scss import
@import 'landing';

//font cdn
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
$font-stack: 'Noto Sans KR', sans-serif;



// default html
html {
    height: 100%;
    font-family: $font-stack;
  }

body {
width: 100%;
margin: 0;
  }

div {
    position: relative;
    display: inline-block;
    float: left;
} 

span {
    position: relative;
    display: block;
}

// header scss
.header-login-contain{
    width:100%;
    .header-contain{
        width: 100%;
        height: 60px;
        background-color: #ff8a01;
        .header-contain2{
            width: 1200px;
            height: 100%;
            transform: translate(-50%,0);
            left: 50%;
            .header-title-contain{
                float: right;
                .haeder-title{
                    @include f-content;
                    color:white;
                    font-weight: bold;
                    line-height: 60px;
                    cursor: pointer;
                    @include no-drag;
                }
            }
        }
    }
}
.header-menu-contain{
    width: 100%;
    height: 90px;
    background-color: white;
    .header-menu-contain2{
        width: 1200px;
        height: 100%;
        transform: translate(-50%,0);
        left: 50%;
        .header-logo-contain{

            .header-logo{
                @include f-logo;
                @include color-m;
                @include no-drag;
                line-height: 90px;
            }
            .header-sub-logo{
                @include f-sub-logo;
                @include color-m;
                @include no-drag;
                line-height: 60px;
                margin-left: 3px;
            }
        }
        .header-nav-contain{
            float: right;
            .header-nav{
                @include f-sub-title2;
                @include color-b;
                @include no-drag;
                line-height: 90px;
                cursor: pointer;
            }
        }
    }
}

.home-cover-contain{
    width: 100%;
    height: 418px;
    background-color: #323439;
    .home-cover-contain2{
        width: 1200px;
        height: 100%;
        left: 50%;
        transform: translate(-50%,0);
        .cover-category{
            margin-top:30px;
            .category{
                @include f-sub-title2;
                @include no-drag;
                color: white;
                cursor: pointer;   
                line-height: 33px   
            }
        }
        .cover-content-contain{
            width: 100%;
            height: 165px;
            margin-top: 30px;
            margin-bottom: 40px;
            .cover-content{
                width: 100%;
                height: 100%;
                @include f-header;
                line-height: 45px;
                color: white;
                word-break: normal; 
                word-wrap: break-word;
                white-space: normal;
                @include no-drag;
            }
        }
        .cover-button{
            width: 300px;
            height: 60px;
            background-color: #ff8a01;
            cursor: pointer;
            .button-text{
                width: 100%;
                line-height: 60px;
                color: white;
                text-align: center;
                font-size: 30px;
                @include no-drag;
            }
        }
    }
}

.review-contain{
    width: 100%;
    .review-contain2{
        width: 1200px;
        transform: translate(-50%,0);
        left: 50%;
        .review-title{
            width: 100%;
            margin-top: 30px;
            font-size: 30px;
            line-height: 41px;
            @include color-b;
            text-align: center;
        }
        .review-category-contain{
            left: 50%;
            transform: translate(-50%,0);
            .review-category{
                margin-top: 30px;
                font-size: 18px;
                line-height: 21px;
                @include no-drag;
                cursor: pointer;
            }
        }
        .popular-reivew{
            width: 248px;
            height: 298px;
            border: 1px solid #EEEEEE;
            box-shadow: 1px 1px #EEEEEE;
            .card-header-contain{
                width: 100%;
                height: 33px;
                .card-header-contain2{
                    width: calc(100% - 18px);
                    height: calc(100% - 18px);
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    .profile{
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        background-color: gray;
                        .image{
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                            position: relative;
                            float: left;
                            display: inline-block;
                        }
                    }
                    .user-name-contain{
                        width: calc(100% - 15px);
                        height: 100%;
                        .user-name{
                            width: calc(100% - 3px);
                            color: #aaaaaa;
                            font-size: 12px;
                            line-height: 15px;
                            margin-left: 3px;
                        }
                    }
                }
            }
            .card-image-contain{
                width: 100%;
                height: calc(161/300*100%);
                cursor: pointer;
                .card-image{
                    width: 100%;
                    height: 100%;
                }
            }
            .card-like-contain{
                width: 100%;
                height: 12px;
                margin-top: 9px;
                .card-like-contain2{
                    width: calc(100% - 18px);
                    height: 100%;
                    transform: translate(-50%,0);
                    left: 50%;
                }
            }
            .card-title-contain{
                width: 100%;
                margin-top: 9px;
                .card-title-contain2{
                    width: calc(100% - 18px);
                    transform: translate(-50%,0);
                    left: 50%;
                }
                .card-title{
                    width: 100%;
                    @include f-content;
                    @include color-b;
                    line-height: 30px;
                    word-break: keep-all; 
                    word-wrap: break-word;
                    white-space: normal;
                }
            }
        }
    }
}

.course-recommend-contain{
    width: 100%;
    margin-top: 30px;
    .course-recommend-contain2{
        width: 100%;
        height: 552px;
        background-color: #000000;
        opacity: 0.8;
        .course-title-contain{
            width: 1200px;
            left: 50%;
            transform: translate(-50%,0);
            .title-contain{
                width: 100%;
                margin-top: 30px;
                .title{
                    width: 100%;
                    @include f-title;
                    line-height: 36px;
                    color: white;
                    text-align: center;
                    @include no-drag;
                }
            }
            .course-category-contain{
                width: 100%;
                margin-top: 30px;
                .course-category-contain2{
                    left: 50%;
                    transform: translate(-50%,0);
                    .category{
                        // width: 100%;
                        @include f-header;
                        line-height: 21px;
                        text-align: center;
                        @include no-drag;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .course-card-contain{
        width: 100%;
        margin-top: 30px;
        .course-card-contain2{
            width: calc(1920px - 120px);
            left: 50%;
            transform: translate(-50%,0);
            .course-card-contain3{
                width: 250px;
                height: 300px;
                background-color: white;
                .course-card-image{
                    width: 100%;
                    height: 240px;
                    .image{
                        width: 100%;
                        height: 100%;
                    }
                }
                .course-card-hash{
                    width: 100%;
                    height: 60px;
                    background-color: #ff8a01;
                    .course-card-hash-contain{
                        width: calc(100% - 18px);
                        height: calc(100% - 18px);
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        .hash{
                            @include f-content;
                            line-height: 21px;
                            color: white;
                        }
                    }
                }
            }
        }
        .course-button-contain{
            width: 1200px;
            left: 50%;
            transform: translate(-50%,0);
            margin-top: 30px;
            .course-button-contain2{
                left: 50%;
                transform: translate(-50%,0);
                .course-button{
                    width: 43px;
                    height: 43px;
                    border: 1px solid white;
                    cursor: pointer;
                    .course-icon-contain{
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        .course-icon{
                            font-size: 30px;
                            line-height: 30px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

// //landing scss
// .landing{
//     width:100%;
// }

//  //main scss
//  .main{
//      width: 100vw;
//      height: 100vh;
     
//     @include media("<huge") {
//     width: 100%;
//     }

//     @include media("<large") {
//     width: 100%;
//     }

//     @include media("<medium") {
//     width: 100%;
//     }

//     @include media("<small"){
//     width: 100%;
//     }
//     .main-image {
//         width: 100%;    
//         height: calc(860/1200*100%);

//         .image{
//             width: 100%;
//             height: 100%;
//             background-image:url(https://source.unsplash.com/1920x1900/?exhibition);
//             background-position: center; 
//         }
//     }
//     .filter{
//         width: 100%;
//         height: calc(860/1200*100%);
//         background-color: white;
//         opacity: 0.5;
//         position: absolute;
//         left: 0;
//         top: 0;
//         z-index: 10;
//     }
//     .main-project{
//         width:100%;
//         height: calc(100% - (860/1200*100%));
//         .project{
//             width: 25%;
//             height: 100%;
//             .name{
//                 font-size: 24px;
//                 font-weight: bold;
//                 color:white;
//                 float: right;
//                 margin-right: calc(30/480*100%);
//                 margin-top: calc(30/480*100%);
//             }
//             .logo-container{
//                 left:50%;
//                 top:50%;
//                 transform: translate(-50%,-50%);
//                 text-align: center;
//                 .logo{
//                     width: calc(300/480*100%);
//                     height: calc(100/300*100%);
//                 }
//             }
//         }
//     }
// }


// .about{
//     width: 100vw;
//     // height: 100vh;
//     @include media("<huge") {
//     width: 100%;
//     }

//     @include media("<large") {
//     width: 100%;
//     }

//     @include media("<medium") {
//     width: 100%;
//     }

//     @include media("<small"){
//     width: 100%;
//     }
//     .about-title{
//         width: 100%;
//         margin-top: 120px;
//         margin-bottom: 120px;
//         // margin-top: calc(75/1200*100%);
//         // margin-bottom: calc(75/1200*100%);
//         .title{
//             width: 100%;
//             position: relative;
//             display: block;
//             text-align: center;
//             @include f-title;
//             @include color-b;
//         }
//         .content-kr{
//             max-width: calc(900/1920*100%);
//             width: 100%;
//             position: relative;
//             display: block;
//             text-align: center;
//             @include f-content;
//             @include color-b;
//             left:50%;
//             transform: translate(-50%,0);
//         }
//         .content-en{
//             max-width: calc(900/1920*100%);
//             width: 100%;
//             position: relative;
//             display: block;
//             text-align: center;
//             @include f-sub-content;
//             @include color-m;
//             left:50%;
//             transform: translate(-50%,0);
//         }
//     }

//     .about-content{
//         width: 100%;
//         height: 361px;
//         .image-container{
//             width: 50%;
//             height: 100%;
//             .image{
//                 width: 100%;
//                 height: 100%;
//             }
//         }
//         .content-container{
//             width: 50%;
//             height: 100%;
//             .content-container2{
//                 width:calc(100% - (240/1920*100%));
//                 left: 50%;
//                 top:50%;
//                 transform: translate(-50%,-50%);
//             }
//             .title{
//                 width: 100%;
//                 display: block;
//                 text-align: left;
//                 @include f-content;
//                 @include color-b;
//             }
//             .content{
//                 width: 100%;
//                 display: block;
//                 text-align: left;
//                 @include f-aubout-content;
//                 @include color-b;
//             }
//         }
//     }
// }

// .project{
//     width: 100vw;
//     height: 100vh;
//     @include media("<huge") {
//     width: 100%;
//     }

//     @include media("<large") {
//     width: 100%;
//     }

//     @include media("<medium") {
//     width: 100%;
//     }

//     @include media("<small"){
//     width: 100%;
//     }
//     .project-title{
//         width: 100%;
//         margin-top: 120px;
//         margin-bottom: 120px;
//         // margin-top: calc(75/1200*100%);
//         // margin-bottom: calc(75/1200*100%);
//         .title{
//             width: 100%;
//             position: relative;
//             display: block;
//             text-align: center;
//             @include f-title;
//             @include color-b;
//         }
//         .content-kr{
//             max-width: calc(900/1920*100%);
//             width: 100%;
//             position: relative;
//             display: block;
//             text-align: center;
//             @include f-content;
//             @include color-b;
//             left:50%;
//             transform: translate(-50%,0);
//         }
//         .content-en{
//             max-width: calc(900/1920*100%);
//             width: 100%;
//             position: relative;
//             display: block;
//             text-align: center;
//             @include f-sub-content;
//             @include color-m;
//             left:50%;
//             transform: translate(-50%,0);
//         }
//     }
//     .project-category{
//         width: 100%;
//         height: 60px;
//         text-align: center;
//         .category{
//             @include f-sub-content;
//             @include color-b;
//             line-height: 60px;
//             cursor: pointer;
//             -webkit-touch-callout: none; /* iOS Safari */
//             -webkit-user-select: none; /* Safari */
//              -khtml-user-select: none; /* Konqueror HTML */
//             -moz-user-select: none; /* Firefox */
//             -ms-user-select: none; /* Internet Explorer/Edge */
//             user-select: none;
//         }
//     }
//     .project-image{
//         width: 100%;
//         height: 540px;
//         -webkit-touch-callout: none; /* iOS Safari */
//         -webkit-user-select: none; /* Safari */
//          -khtml-user-select: none; /* Konqueror HTML */
//         -moz-user-select: none; /* Firefox */
//         -ms-user-select: none; /* Internet Explorer/Edge */
//         user-select: none;
//         .image-container{
//         }
//     }
// }